*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./bgimg.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

nav ul li a:hover{
    color:red;
}

.intro{
    margin-left: 50%;
    margin-top: 150px;
}

.intro h1{
    font-size: 38px;
    color: white;
    margin-bottom: 15px;
}

span{
    color:bisque;
}

.intro p{
    color: white;
    line-height: 18px;
}
